<html>
<head>
    <title>${global.name}</title>
    <link rel="stylesheet" type="text/css" href="/public/app.css">
</head>
<body class="${templateClass}">
<div class="wrapper">
    <div class="header">
        <div class="logo"> <a href="/"><img class="logo" src="/${global.logo}"></a></div>
        <div class="menu">
            <ul>
                <li><a href="/">home</a></li>
                <li class="loggedout"><a href="/account/create">register</a></li>
                <li class="loggedout"><a href="/login">login</a></li>
            </ul>
        </div>
    </div>
    <div class="content">